#third

#Redirect / http://www.domen.ru

#php_flag register_globals on
#php_flag display_errors on
#php_flag log_errors on
#php_flag error_reporting 0
#php_value memory_limit 100M
#php_flag memory_limit 100M
#php_flag session.use_trans_sid off

#DirectoryIndex index.php
DirectoryIndex index.html

#Options +Indexes
#Options FollowSymLinks
Options Includes ExecCGI
#Options SymLinksIfOwnerMatch

AddDefaultCharset windows-1251

#<files *.conf>
#Order Deny,Allow
#Deny From All
#</files>

#<files *.ini>
#Order Deny,Allow
#Deny From All
#</files>
